.loginform{
    padding-top: 40Vh;
}

.card-header {
    padding: .1rem 1.25rem;
}

.input-group-pager {
    width: 280px;
}

/*------------------------------------navbar---------------------------------------------------*/
.c-navbar-container {
background-color: #0050b2;
    background-image: radial-gradient(circle at 50% 15px,rgba(0,0,0,0) 0,rgba(0,0,0,0) 50%,#00276c 100%),url(/static/img/patterned-bg.png);
    box-shadow: 0 3px 9px #c1c1c1;
    border-bottom: 3px solid #003270;
    position: relative;
    z-index: 2;	
}

.nav-link-custom {
    color: rgba(255,255,255,.5);
}
.nav-link-custom:hover{
    color: red;
}
.c-search-button {
	color: rgba(255,255,255,.5);
    background-color: transparent;
    background-image: none;
    border-color: rgba(255,255,255,.5);
}
.c-search-button:hover {
	color: rgba(255,255,255,.75);
    background-color: transparent;
    background-image: none;
    border-color: rgba(255,255,255,.75);
}


/*------------------------------------Пагинация---------------------------------------------------*/

.c-pagination-selector-container {
	display:inline-block;
	width: 290px;
}
.c-pagination-selector {
	display: flex;
}

.input-group-prepend {
	width:200px;	
}

.c-pagination-pages {
	max-width: 50%;
	display: inline-block;
}
.pagination {
	margin-bottom=0;	
}
.custom-select {
	width: 70px!important;
	flex: 0 0 auto!important;		
}
.c-label {
	color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
/*------------------------------------Tree view---------------------------------------------------*/
/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  /*  content: "\25B6";
    color: black;*/
    content: "+";
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
   /* transform: rotate(90deg);*/
   content: "-";
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}
/*------------------------------------Tree view end---------------------------------------------------*/