@font-face {
 font-family: 'Icons';
 src: url('../fonts/open-iconic.eot');
 src: url('../fonts/open-iconic.eot?#iconic-sm') format('embedded-opentype'), url('../fonts/open-iconic.woff') format('woff'), url('../fonts/open-iconic.ttf') format('truetype'), url('../fonts/open-iconic.otf') format('opentype'), url('../fonts/open-iconic.svg#iconic-sm') format('svg');
 font-weight: normal;
 font-style: normal;
}


.loginform{
    padding-top: 40Vh;
}

.card-header {
    padding: .1rem 1.25rem;
}

.input-group-pager {
    width: 280px;
}
.md-5 {
    margin-bottom: 5px;
}

.task-buttons-container {
    display:flex;
    justify-content:space-between;
}
/*------------------------------------navbar---------------------------------------------------*/
.c-navbar-container {
background-color: #0050b2;
    background-image: radial-gradient(circle at 50% 15px,rgba(0,0,0,0) 0,rgba(0,0,0,0) 50%,#00276c 100%),url(/static/img/patterned-bg.png);
    box-shadow: 0 3px 9px #c1c1c1;
    border-bottom: 3px solid #003270;
    position: relative;
    z-index: 2;	
}

.nav-link-custom {
    color: rgba(255,255,255,.5);
}
.nav-link-custom:hover{
    color: red;
}
.c-search-button {
	color: rgba(255,255,255,.5);
    background-color: transparent;
    background-image: none;
    border-color: rgba(255,255,255,.5);
}
.c-search-button:hover {
	color: rgba(255,255,255,.75);
    background-color: transparent;
    background-image: none;
    border-color: rgba(255,255,255,.75);
}


/*------------------------------------Pagination---------------------------------------------------*/

.c-pagination-selector-container {
	display:inline-block;
	width: 290px;
}
.c-pagination-selector {
	display: flex;
}

.input-group-prepend {
	width:200px;	
}

.c-pagination-pages {
	max-width: 50%;
	display: inline-block;
}
.pagination {
	margin-bottom: 0;
}
.custom-select {
	width: 70px!important;
	flex: 0 0 auto!important;		
}
.c-label {
	color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

/*------------------------------------Task list---------------------------------------------------*/
.card {
	border-left:none;
	border-right:none;
	border-top:none;
}
.card-header {
	background-color: transparent;
    border-bottom: none;
    display: flex;
}
.c-card-header-subject {
	width: 88%;	
	display: inline-block;
}
.c-card-header-status {
	width: 12%;
	display: inline-block;	
	font-style: italic;
    font-size: 13px;
}
.btn-link {
    font-weight: 400;
    color: #6c757d;
}
.btn-link:hover {
    font-weight: 400;
    color: #6c757d;
    text-decoration: none;
}
.c-task-item-a {
	white-space: normal;
	text-align: justify;
	color: #6c757d!important;
}
.c-item-subscription {
	margin-bottom: 0;
	font-size: 13px;
	text-align: justify!important;
}
.c-card-body {
	padding-top: 0;
	font-size: 13px;
}
.c-card-body p{
	font-size: 13px;
	text-align: justify!important;
}

/*------------------------------------Task---------------------------------------------------*/
.c-container {
	display:flex;
	color:	#6c757d;
}
.blockquote {
	border-bottom: 2px ridge;
}
.blockquote p{
	font-size: 15px;
	
}
.blockquote-footer {
	font-size: 14px;
}

.nowrap {
    white-space: nowrap;
}
.delimiter {
    border-bottom: 2px solid;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.c-page-link{
    color: #6c757d;
}
.c-page-link:hover{
    text-decoration: none;
}
.c-text-area {
    min-height:150px;
}
/*------------------------------------Search---------------------------------------------------*/
.search-select {
    width: 300px !important;
}
.selected-params-input {
    width: 300px !important;
}
.checkbox-container {
    width: 300px;
    display: flex;
}
.checkbox-container-inner {
    width: 50%;
    display: block;
}
/*------------------------------------Tree view---------------------------------------------------*/
/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  /*  content: "\25B6";
    color: black;*/
    content: "+";
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
   /* transform: rotate(90deg);*/
   content: "-";
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}
/*------------------------------------Tree view end---------------------------------------------------*/